.test {
  letter-spacing: 30px;
  color: orange;
}

.centered {
  text-align: center;
}

.form-wrapper {
  padding: 25pt;
}

/* Loading.js */
.loading {
  border: 4px solid #f15186;
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

thead, tfoot {
  background-color: cornflowerblue;
}

table {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px; 
}

th {
  font-weight: normal;
}

thead th {
  font-weight: bold;
}

.video-detail {
  text-align: left;
}

.video-container {
  padding: 20px;
  margin: 5px;
  background-color: yellowgreen;
}

.video-detail .description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 3;
}

.video-detail .title, .video-detail .channel{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.right-btn {
  width: 10px;
}